.App-wrapper {
    width: 60%;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
}

@media only screen and (max-width: 1366px) {
    .App-wrapper {
        width: 80%;
    }
} 
@media only screen and (max-width: 767px) {
    .App-wrapper {
        width: 90%;
        overflow: hidden;
    }
} 