.about-page {
    max-height: 100vh;
    color: rgba(255,255,255,.85);
    position: relative;
}
.image {
    position: relative;
    overflow: hidden;
    width: 45%;
    object-fit: cover;
    float: left;
    margin: 1rem;

}
.hero-img {
    width: 100%;
}
.about-text {
    text-align: justify;
}