.nav-section {
    width: 100%;
    padding-top: 1.75rem;
    color: rgba(255,255,255,.75);
    font-size: 1rem;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    width: 10rem;
}
.nav-ul a {
    text-decoration: none;
}
.nav-li {
    color: rgba(255,255,255,.75);
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    display: inline;
    margin-left: 1rem;
    padding: 0.7rem;
    cursor: pointer;
    border: 3px solid transparent;
    -webkit-transition:  500ms ease ;
    -moz-transition:  500ms ease ;
    -o-transition:  500ms ease ;
    transition:  500ms ease ;
}
.nav-li:hover{
    border-bottom: 3px solid rgba(255,255,255,.7);
    color: rgba(255,255,255,.95);
}