.nav-section {
    padding-top: 3rem;
    color: rgba(255,255,255,.9)
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-li {
    list-style-type: none;
    display: inline;
    margin-right: 3rem;
}