.footer-section {
    width: 100%;
}
.footer-wrap {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    padding: 0.7rem 0;
    color: rgba(255,255,255,.65);
    background-color: #0f1426;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
}
.social-link {
    width: 2.5rem;
    opacity: .6;
    margin-left: 1rem;
}
.address { 
    font-size: 0.8rem;
} 
.social-link:hover {
    opacity: .9;
}

@media only screen and (max-width: 767px) {
    .footer-wrap{
        display: block;
    }
}