.display-section {
    width: 100%;
}
.display-box {
    width: 90%;
    overflow: hidden;
}
@media only screen and (max-width: 767px) {
    .display-section {
        width: 95%;
        margin: 0 auto;
    }
 }

